@import url(theme1.css);
@import url(theme2.css);
@import url(theme3.css);


:root{
    --green : #219150;
    --green2 :#22d66d;
    --greenD :#135e3b;
    --black : #161917;
    --white : #F4F9FD;
    --yellow :#d6b109;
    --blue :  #4F80FF;
    --blueD : #122350;
    --violet: #8154EF;
    --red :   #da3333;
}
*{
    font-family: "Almarai", sans-serif;
    padding: 0;
    margin: 0;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    background-color: var(--black);
    width: 100%;
    justify-content: center;
   
    
}
footer img{
    margin: 15px 0px;
    width: 70px;
}
footer h2{
    margin: 20px 0px;
    background-color: #22d66dce;
    padding: 5px;
}

.social{
    margin-top: 10px ;
    margin-bottom: 20px;
    display: flex;
    color: var(--white);
}
.social i{
    margin: 0px 10px;
    font-size: 22px;
}

@media (max-width: 671px){
    
    .theme1 form input{
        margin: 10px 0;
        width: 270px;
        height: 23px;
        border: none;
        border-bottom: 5px solid var(--blue);
        font-family: "Roboto Slab", serif;
        font-size: 18px;
        font-weight: 600;
    }
    .theme2 form input{
        margin: 10px 0;
        width: 270px;
        height: 23px;
        border: none;
        border-bottom: 5px solid var(--blue);
        font-family: "Roboto Slab", serif;
        font-size: 18px;
        font-weight: 600;
    }
    .theme3 form input{
        margin: 10px 0;
        width: 270px;
        height: 23px;
        border: none;
        border-bottom: 5px solid var(--blue);
        font-family: "Roboto Slab", serif;
        font-size: 18px;
        font-weight: 600;
    }

}