section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.post{
    width: 100%;
    
    margin: 50px 100px;
    color: var(--white);
    text-align: left;
    font-size: 16px;
    overflow: hidden;
}
.post h2{
    font-size: 30px;
    color: var(--green2);
    font-family: "Roboto Slab", serif;
}
.post .p1{
    margin-top:30px ;

}

.post img{
    width: 850px;
    height: 500px;
    margin-top:30px ;
}

.post .olist{
    margin-top: 30px;
    
}

.olist li{
    padding: 20px 0px;
}
.olist .point{
    font-size: 18px;
    padding: 3px;
}


.sidebar{
    display: flex;
    justify-content: center;
    color: var(--white);
    width: 200px;
    height: 200px;
    margin-left: 200px;
}

.sidebar ul{
    list-style: none;
    margin-top: 50px;
    text-align: left;
}

.sidebar ul li{
   margin-top: 20px;
}
.sidebar ul a{
    text-decoration: none;
    color: var(--green2);
}
.sidebar button{
    color: var(--green);
    font-weight: 700;
    border-bottom: 2px solid var(--white);
    background-color: var(--white);
    width: 160px;
    height: 40px;
    border: none;
    border-radius: 18px;
    margin-top: 20px;
}
button:hover{
    background-color: var(--green);
    color: var(--white);
    transition: 0.5s
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    
    justify-content: center;
   
    
}
footer img{
    margin: 15px 0px;
    width: 70px;
}
footer h2{
    margin: 20px 0px;
    background-color: #22d66dce;
    padding: 5px;
}

.social{
    margin-top: 10px ;
    margin-bottom: 20px;
    display: flex;
}
.social i{
    margin: 0px 10px;
    font-size: 22px;
    
}


@media (max-width: 900px) {

    .sidebar{
        display: flex;
        justify-content: start;
        color: var(--white);
        width: 200px;
        height: 200px;
        margin-left: 30px;
        margin-bottom: 70px
    }

    section{
        display: flex;
        flex-direction: column;
        
    }
    .post{
        width: 450px;
        margin: 20px 35px;
        color: var(--white);
        text-align: left;
        font-size: 14px;
        overflow: hidden;
    }
    .post h2{
        font-size: 25px;
        color: var(--green2);
        font-family: "Roboto Slab", serif;
    }
    .post .p1{
        margin-top:30px ;
    }
    
    .post img{
        width: 100%;
        height: 250px;
        margin-top:30px ;
    }
    .social{
        margin-top: 10px ;
        margin-bottom: 20px;
        display: flex;
    }
    .social i{
        margin: 0px 10px;
        font-size: 18px;
    }
    footer img{
        width: 50px;
    }
}

@media (min-width: 672px) and (max-width: 900px) {
 .social{
        margin-top: 10px ;
        margin-bottom: 20px;
        display: flex;
    }
    .social i{
        margin: 0px 10px;
        font-size: 22px;
    }
    footer img{
        width: 70px;
    }
}



/* @media (min-width: 909px) and (max-width :1075px) {

} */